@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Questrial&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

* {
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container-max-width {
	max-width: 1220px;
	width: 100%;
	margin: auto;
}

a {
	text-decoration: none !important;
}

.navbar {
	background-color: rgb(76, 111, 255);
	display: flex;
	padding: 8px 0;
}

.navbar-wrapper {
	display: flex;
	margin: auto;
	justify-content: space-between;
	padding: 0 15px;
	height: 90px;
	align-items: center;
}

.nav-links {
	display: flex;
	margin-bottom: 0;
}

.bx-menu {
	font-size: 23px;
	position: relative;
	top: 2px;
}

.menu-text {
	position: relative;
	top: -2px;
}

.nav-text {
	position: relative;
	top: 2px;
}

.bxs-chevron-down {
	font-size: 18px;
	position: relative;
	top: 5px;
}

.menu-bottom-icon {
	position: relative;
	top: 1.5px;
}

.nav-item {
	font-weight: 600;
	color: #fff;
	padding: 1rem;
}

.menu-nav-item {
	background-color: #fff !important;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	margin-bottom: -2rem;
}

.menu-nav-item * {
	color: #4c6fff;
}

.menu-nav-item .active {
	width: 100%;
}

.menu-nav-item .active::after {
	content: "";
	display: block;
	background: #fff;
	width: 50%;
	height: 100%;
	/* position: absolute; */
	left: 0;
	top: 100%;
	padding: 1rem;
	z-index: 2;
}

.tab-menu-wrapper {
	display: none;
	position: absolute;
}

.menu-nav-item .tab-menu-wrapper {
	display: block;
}

.nav-link {
	display: flex;
	align-items: center;
	justify-content: center;
}



.nav-btns {
	display: flex;
	align-items: center;
}

.language-btn {
	padding: 8px 16px;
	color: #fff;
	background-color: transparent;
	border: none;
	display: flex;
	align-items: center;
	font-size: 16px;
	position: relative;
}

.language-btn i {
	font-size: 19px;
}

.languages-container {
	position: absolute;
	top: 100%;
	display: none;
	/* flex-direction: column; */
	/* justify-content: center; */
	left: -50%;
	z-index: 1000;
	float: left;
	min-width: 10rem;
	padding: .25rem 0;
	/* padding: 0; */
	margin: .125rem 0 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: .25rem;
	border: none;
}

.language {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 4px 0;
}

.language a {
	color: #212529;
	width: 100%;
	text-align: center;
	font-size: .875rem;
	padding: 4px 0;
}

.uzb {
	border-bottom: 1px solid #c5cede69;
}

.language a:hover {
	background-color: #4c6fff;
	color: #fff;
}

.languages-container::before {
	content: "";
	/* border-width: 1rem; */
	border-top: 0.75rem solid #fff;
	border-right: 0.75rem solid transparent;
	border-left: 0.75rem solid transparent;
	border-bottom: 0 solid #fff;
	border-style: solid;
	position: absolute;
	left: calc(50% - 10px);
	font-size: 2rem;
	/* background-color: #fff; */
	right: auto;
	top: -.75rem;
	z-index: -1;
	transform: rotate(180deg);
}

.coworking {
	padding: 8px 16px;
	border: 1px solid #fff;
	border-radius: 4px;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	width: 167px;
	transition: all 0.2s ease;
}

.coworking:hover {
	color: #4c6fff;
	background-color: #fff;
}

.bx-log-out {
	margin-left: 16px;
	padding: 9px 11px 11px 9px;
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	transform: rotate(180deg);
}

/* MAIN HEADER */

.main-header-section {
	padding: 0 0 150px 0;
}

.main-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.main-header-info {
	width: 58.33%;
	padding: 0 15px;
}

.main-header h1 {
	margin-bottom: 2rem;
	font-size: 3rem;
	color: #3754db;
	font-weight: 700;
}

.comp-desc {
	font-size: 16px;
	max-width: 60%;
}

.main-header-inputs {
	display: flex;
	margin-top: 4rem;
}

.main-header-input-container {
	border: 5px solid #3754db;
	height: 3.5rem;
	font-weight: 600;
	border-radius: .375rem;
	/* margin: 0 5px 0 5px; */
}

.search-from-site {
	width: 56.8%;
	display: flex;
	align-items: center;
	margin-right: 5px;
}

.search-from-site i {
	padding-left: 0.8rem;
	font-size: 18px;
	color: rgb(33, 37, 41);
}

.location-input {
	margin-left: 5px;
	width: 40%;
	display: flex;
	align-items: center;
}

.search-from-site input,
.location-input input {
	border: none;
	width: 85%;
	padding: .375rem .75rem .375rem .45rem;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	outline: none;
}

.bx-map {
	margin-left: 1rem;
	color: rgb(33, 37, 41);
}

.bx-caret-down {
	margin-right: 0.8rem;
}

.search-btn {
	color: #fff;
	background: #4c6fff;
	border: 2px solid #4c6fff;
	transition: .3s ease;
	padding: 1rem 4rem;
	font-weight: 600;
	line-height: 1;
	border-radius: .5rem;
	margin-top: 1.5rem;
}

.main-header-img {
	width: 39%;
	padding: 0 15px;
}

.main-header-img img {
	width: 100%;
}

/* SERVICE */

.plane-img {
	width: 24px;
	height: 24px;
}


/* CERVICE */
.service-section {
	background-color: rgb(76, 111, 255);
	padding: 2.5rem;
}

.service-container {
	margin-top: 2.5rem !important;
	padding-right: 1.125rem !important;
	padding-left: 1.125rem !important;
}

.service-section-up {
	display: flex;
	justify-content: space-between;
}

.service-header {
	font-size: 32px;
	color: #fff;
	font-weight: 500;
	padding-left: 8px;
}

.go-to-abroad {
	background-color: #fff;
	border: 0;
	padding: 12px 28px;
	font-size: 16px;
	font-weight: 600;
	border-radius: 8px;
	margin-right: 8px;
}

.service-inner {
	background: #fff;
	border-radius: 1rem;
	padding: 2rem .5rem;
	text-align: center;
	display: block;
}

.cervice-img {
	width: 64px;
	height: 64px;
}

.service-inner p {
	font-weight: 800;
	font-size: 1.125rem;
	margin-top: 1rem;
	color: #000;
	height: 3.375rem;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* SERVICE BLOCK */

.all-services-bloks {
	padding: 60px 15px;
}

.services-wrapper {
	border-radius: 1.5rem;
	padding: 9px;
	background: linear-gradient(225deg, #4c6fff 29.17%, #05bad1 77.6%);
}

.services-block {
	background: #fff;
	border-radius: 1rem;
	padding: 2.5rem 1.5rem;
}

.services-header {
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.2;
	color: #212529;
	text-align: left;
	margin-bottom: 1.5rem;
}

.services-list {
	display: flex;
	flex-wrap: wrap;
}

.service-list_item {
	cursor: pointer;
	padding: .75rem 1.25rem;
	border: 1px solid #4c6fff;
	border-radius: 6px;
	margin-right: .5rem;
	margin-top: .75rem;
	font-weight: 600;
	font-size: .75rem;
	color: #4c6fff;
	;
}

.service-number {
	font-size: 12px;
	font-weight: 600;
	color: #a6b7d4;
}

.service-list_item:hover {
	background-color: rgb(0, 111, 219);
	color: #fff;
	transition: all 0.4s ease;
}

.other-block {
	margin-top: 5rem;
}

/* SALE */

.sale-container {
	padding: 0 15px;
	margin-top: 60px;
}

.sale-wrapper {
	background-image: linear-gradient(225deg, rgb(76, 111, 255), rgb(49, 140, 237) 47.18%, rgb(5, 186, 209));
	border-radius: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 40px;
}

.sale-info h2 {
	font-size: 32px;
	font-weight: 500;
	color: #fff;
}

.sale-info p {
	font-size: 18px;
	font-weight: 700;
	color: #fff;
}

.sale-img img {
	margin-top: -4rem;
}


/* SALE CARDS */

.sale-cards-container {
	width: 100%;
}

.sale-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sale-card-container {
	width: 48%;
	display: flex;
	flex-direction: column;
	padding: 24px;
}

.sale-card {
	padding: 12px;
	padding: .75rem;
	border: .5rem solid #4c6fff;
	border-radius: .5rem;
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 120px;
}

.sale-card-img {
	width: 100%;
	margin-bottom: 1.5rem;
}

.sale-card-img img {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

.sale-card-header-container {
	background: #edf2f7;
	border-radius: .5rem;
	padding: 1.5rem 1.25rem;
	color: #4c6fff;
	font-weight: 600;
}

.sale-card-header {
	margin-bottom: .75rem;
	font-size: 32px;
	font-weight: 600;
}

.sale-card-header-container p {
	margin-bottom: 0;
	display: flex;
	align-items: center;
	font-size: 16px;
	font-family: 600;
}

.sale-card-desc {
	padding: 24px 20px;
}

.sale-card-desc p {
	margin: 0;
}

.see-all-sales {
	color: #4c6fff;
	border: 2px solid #4c6fff;
	border-radius: .5rem;
	padding: .75rem 1.25rem;
	font-weight: 600;
	display: block;
	width: max-content;
	transition: .3s ease;
	margin: 60px auto 120px auto;
}

.see-all-sales:hover {
	background-color: #4c6fff;
	color: #fff;
}

/* SPECIAL DAYS */
.special-days-cards {
	display: flex;
}

.special-day-img-container {
	width: 100%;
	background-color: #4c6fff;
	border-radius: 16px;

}

.special-day-img-container img {
	width: 100%;
	border-radius: 16px;
	transition: all 0.5s;
}

.special-day-img-container img:hover {
	transform: scale(0.97);
}

.special-day-card-info {
	padding: 1.5rem 0;
}

.special-day-title {
	color: #333;
	margin-bottom: .75rem;
	font-weight: 600;
}

.special-day-card-info p {
	color: #999;
	font-size: 16px;
}

.special-day-desc {
	margin-top: 24px;
}

.special-day-desc p {
	margin: 0;
}

.special-day-button {
	margin-bottom: 3.75rem;
}

/* FOOTER */

footer {
	background: #4c6fff;
}

footer * {
	color: #fff;
}

footer p,
footer li {
	font-size: 14px;
}

.footer-wrapper {
	padding: 3.5rem 15px;
	display: flex;
	justify-content: space-between;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer a {
	color: #fff;
}

footer a:hover {
	text-decoration: underline !important;
	color: #fff;
}

.footer-header {
	font-size: 1.125rem;
	margin-bottom: 1rem;
}

.footer-nav-item {
	margin-bottom: .75rem;
}

.footer-logo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-logo {
	margin-bottom: .5rem;
}

.footer-logo-container *{
	font-size: 14px;
}


.footer-contacts {
	display: flex;
	flex-direction: column;
}

.footer-contacts a {
	margin-bottom: .75rem;
}

.telegram-bot {
	display: flex;
	align-items: baseline;
}

.phone-number {
	display: flex;
	align-items: baseline;
}

.phone-number i {
	font-size: 18px;
}

.footer-media-icon i {
	font-size: 32px;
}

.download-links {
	display: flex;
	flex-direction: column;
}

.download-links a {
	margin-bottom: .75rem;
}

.footer-second {
	padding: 2rem 0;
	text-align: right;
	padding: 4.5rem 15px 32px;
}

.footer-second *{
	font-size: 16px;
}

.footer-second p {
	margin: 0;
}

.footer-second a{
	font-weight: 600;
}

/* 

.test-link{
	position: relative;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.test-link *{
	color: #4c6fff;
}

.test-link{
	background-color: #fff;
}

.test-link::before {
	content: "";
	display: block;
	background: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 2;
} */

.tab-menu-wrapper {
	position: absolute;
	top: calc(100% - .5rem);
	left: 0;
	right: 0;
	z-index: 2;
}

.tab-menu-exterior {
	padding: 0 15px;
}

.tab-menu-container {
	background-color: #fff;
	color: #000;
	padding: 3rem;
	height: 80vh;
	border-radius: 1rem;
	box-shadow: 0 20px 50px rgba(13, 63, 103, 0.413);
}

.main-tab-inputs {
	display: flex;
	justify-content: space-between;
}

.main-tab-input-container {
	border: 5px solid #3754db;
	height: 3.5rem;
	font-weight: 600;
	border-radius: .375rem;
}

.tab-search-from-site {
	width: 40.5%;
	display: flex;
	align-items: center;
	margin-right: 5px;
}

.tab-search-from-site i {
	padding-left: 0.8rem;
	font-size: 18px;
	color: rgb(33, 37, 41);
}

.tab-location-input {
	width: 40.5%;
	margin: 0 10px 0 5px;
	display: flex;
	align-items: center;
}

.tab-location-input input,
.tab-search-from-site input {
	border: none;
	padding: .375rem .75rem .375rem .45rem;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	outline: none;
	width: 90%;
}

.tab-menu-info-wrapper {
	margin-top: 5rem;
	display: flex;
	justify-content: space-between;
}

.tab-menu-info-container {
	width: 32%;
}

.tab-menu-nav-list {
	padding: 0;
	height: 40vh;
	overflow-y: auto;
}

.tab-nav-item a {
	display: flex;
	align-items: center;
	padding: 8px 0;
}

.tab-nav-item p {
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 500;
	color: #2d3748;
}

.tab-nav-item p:hover {
	color: #3754db;
}

.tab-nav-item img {
	margin-right: .75rem;
}

.tab-active-text-info-container {
	width: 65%;
}

.tab-active-text-info-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	height: 40vh;
	overflow-y: auto;
}

.tab-active-text-info-list li {
	padding-right: 1rem;
	margin-bottom: .75rem;
	width: 30%;
}

.tab-active-text-info-list li a {
	color: #4a5568;
	font-weight: 400;
}

.tab-active-text-info-list li a:hover {
	font-weight: 500;
	color: #3754db;
}